// Customize Grid

$container-width: 960px;
$num-cols: 12;
$gutter-width: 10px;
$breakpoints: ("sm": 576px, "md": 768px, "lg": 992px, "xl": 1200px);

// Variables
$font-stack: Arial, Helvetica, sans-serif;
$default-font-size: 13pt;

@import 'reset';
@import 'colors';
@import 'nav';
@import 'format';
@import 'responsive_grid';
@import 'flex';
@import 'position';
@import 'debug';


